.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.4rem;

}
.spinnerWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.spinner {
    margin-bottom: 20px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}