*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav
{

    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    color: black;
    background-color: whitesmoke;
}
.menu
{
    flex: .45;
    padding: 1rem;
}
.nav_items
{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}
.nav_items>li
{
    margin: 0 1rem;
}
.menu_mobile
{
    display: none;
}

@media (max-width:600px)
{
    .menu_mobile
    {
        display: block;
    }
    .logo
    {
        font-size: .7rem;
    }
    .menu
    {
        display: none;
    }


}