
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
}

body
{
    background-color: whitesmoke;
}
body::-webkit-scrollbar {
    display: none;
}
.landing_container
{
    height: 100vh;
    background:linear-gradient(0deg, rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url(./images/header-background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.navbar_container
{
    height: 6rem;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar_container_left img
{
    height: 2rem;
    cursor: pointer;
}
.navbar_container_right_buttons
{
    list-style-type: none;
    display: flex;
    width: fit-content;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.navbar_container_right_buttons_item
{
    margin: 0 1rem;
    cursor: pointer;
    transition:  0.3s ease-out;
}
.navbar_container_right_buttons_item:hover
{
    color: rgb(37, 249, 196);
}
.landing_container_center
{
    display: flex;
    height: calc(100vh - 6rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
.landing_container_center h1
{
    font-size: 3rem;
    margin: 1rem;
    cursor: pointer;
}
.landing_container_center p
{
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    width: 40%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.button
{
    border: 2px solid rgb(37, 249, 196);
    width: 10rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(37, 249, 196);
    color: white;
    font-weight: bold;
   cursor: pointer;
   transition: 0.3s ease-in-out;
   text-align: center;
}
.button:hover
{
    background-color: transparent;
}

.main_intro
{
    display: flex;
    padding: 5rem 10rem;
    height: fit-content;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}
.main_intro_left
{
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 50%;
    max-width: 50%;
    height: 23rem;
    cursor: pointer;
    padding: 1rem;
    /* margin-left: 1rem; */
    background-color: white;
}

.para_main
{
    font-weight: 500;
    font-size: 0.8125rem;
    color: #14bf98;
    margin-bottom: .5rem;
    

}

.head_main
{
    font-weight: 700;
    font-size: 1.8rem;
    width: 100%;
    color: #484a46;
    margin-bottom: .5rem;

}

.para_sec
{
    color: #787976;
    font-weight: 400;
    font-size: 1rem;
    font-stretch: normal;
    line-height: 1.5625rem;
    width: 100%;
}



.main_intro_left span
{
    display: inline-block;
    margin: .5rem 0;
}

.head_sec
{
    
    
    color: #484a46;
    margin: .5rem 0;

}


.main_intro_right
{
    overflow: hidden;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: fit-content;
   
   
}
.main_intro_right img
{

    max-height:100%;
    max-width:100%;
    transition: all 0.3s ease-in-out;
   
}

.main_intro_right img:hover
{
    transform:scale(1.1);  
}
.intro_cards
{
    height: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8rem 0 10rem;
}

.card
{
    width: 32%;
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: white;
    padding-left: 1rem;
}
.card_icon
{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20c997;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
}
.card_icon i
{
    font-size: 3rem;
    color: white;
    
}
.card_intro
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    
}
.card_intro h4
{
    margin: 0 0 1rem 0 ;
   font-size: 1.5rem;
}

.card_intro p
{
    font-size: 1.2rem;
    color: #787976;
}

.services{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_top
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.services_bottom
{
    /* border: 1px solid green; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.long_card
{
    /* border: 1px solid green; */
    height: 80%;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    margin: 4rem;
  
   
}

.long_card_top
{
    height: 100%;
    text-align: center;
}

.long_card_top_img
{
    background-image: url(./images/services-1.jpg);
    background-size: cover;
    background-position: center;
    height: 40%;
    margin-bottom: 0.5rem;
}


.extra
{
    position: relative;
    bottom: 1.66rem;
    left: 6rem;
    color: black;
}
.extra:hover
{
    background-color: white;
}
.long_card_top_dts_info
{
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}
.long_card_top_dts_info p
{
    margin-left: 1rem;
}